.photo-background {
  width: 100%;
  height: 100vh;
  background-image:url("https://images.unsplash.com/photo-1474314881477-04c4aac40a0e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0994a7bf1f9d207153c91eafa06251c&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}


.form-container-new {
padding-top: 30px;
opacity: 0.9;

}
