.moment-main-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#moment-category {
  position: relative;
}

#moment-category>img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  filter: grayscale(100%);
  opacity: 0.7;
}

#moment-user-img {
  position: absolute;
  top: 10px;
  right: 10px;
}

#moment-user-participants {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#moment-user-participants h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #1F70D3;
  opacity: 0.9;
  padding: 5px 10px;
  border-radius: 5px;
}

#moment-content {
  width: 560px;
}

.moment-user-insides {
  margin: 20px 0;
}

#moment-activity h1 {
  font-size: 40px;
  font-weight: 900;
}

#moment-description {
  max-width: 400px;
}

#moment-location {
  color: #1F70D3;
  opacity: 0.7;
  width: 300px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

#moment-location:hover {
  opacity: 1;
  color: #fff;
  background-color: #1F70D3;
}

#moment-date {
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
}
