.moment-main-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#img-img {
  position: relative;
}

#moment-category {
  width: 450px;
}

.one-booking {
  display: inline;
}

#countdown {
  padding: 5px 10px;
  color: #f30e5c;
  font-size: 32px;
  font-weight: 700;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  border: 2px solid #f30e5c;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

#countdown:first-child {
  display: block;
}


#countdown-expired {
  padding: 5px 10px;
  color: #5c636e;
  font-size: 32px;
  font-weight: 700;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  border: 2px solid #5c636e;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

#countdown-cool {
  padding: 5px 10px;
  color: #166dd6;
  font-size: 32px;
  font-weight: 700;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  border: 2px solid #166dd6;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

#img-img>img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  filter: grayscale(100%);
  opacity: 0.7;
}

#moment-user-img {
  position: absolute;
  top: 10px;
  right: 10px;
}

#moment-user-participants {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#moment-user-participants h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #1F70D3;
  opacity: 0.9;
  padding: 5px 10px;
  border-radius: 5px;
}

#img-join {
  height: 80px;
  width: 100%;
  background-color: #32B796;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 32px;
  margin: 48px auto;
  border: 0px solid black;
}

#img-join:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px #000;
}

#moment-content {
  width: 560px;
  position: relative;
}

.moment-user-insides {
  margin: 20px 0;
}

#moment-activity h1 {
  font-size: 40px;
  font-weight: 900;
}

#moment-description {
  max-width: 400px;
}

#location-div {
  margin-top: 80px;
}

#moment-location {
  color: #1F70D3;
  opacity: 0.7;
  width: 300px;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 24px;
}

#moment-location a {
  text-decoration: none;
}

#map {
  position: absolute;
  left: 0;
}

#moment-date {
  font-size: 18px;
  font-weight: 200;
  font-style: italic;
  color: #1F70D3;
}

.nav-buttons-show a {
  text-decoration: none;
  color: #000;
  opacity: 0.3;
  font-weight: 200;
  padding: 5px;
}

.nav-buttons-show a:hover {
  opacity: 1;
  font-weight: 400;
  color: #1F70D3;
}

.modal .form-container {
  border: 0px solid black;
  width: 100%;
  margin: 0 auto;
}

.modal .form-content {
  width: 100%
}

.moment-messages {
  margin: 20px 0;
  width: 100%;
  border-radius: 25px;
}

.moment-messages h4, #map-contain h4 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  padding: 30px 0;
}

.one-message {
  margin: 30px auto;
  padding: 20px;
  border-bottom: 1px solid #f3f3f3;
  width: 80%;
}

.one-message:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #085078, #85D8CE);
  color: #fff;
  border-radius: 5px;
  border-bottom: 0px solid #000;
  opacity: 0.8;
}

.booking-description {
  font-weight: 300;
  padding-left: 5px;
}

.booking-user {
  font-weight: 700;
}

.full-width-end {
  width: 70vw;
  margin: 50px auto;
}
