<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<p><% @bookings.each do |booking| %>
  <li> <%= link_to booking.description, booking_path(booking)%> </li>
  <% end %>
</p>
<p><%=link_to "Add new cocktail", new_cocktail_path %></p>
