

<div class="container">
  <div class="form-container">
    <div class="form-content">

      <h1>Join This Moment</h1>
      <!-- <p>Find me in app/views/flats/new.html.erb</p> -->

      <%= simple_form_for [@moment, @booking] do |f| %>
        <%= f.input :description %>
        <%= f.submit "Join", class: "btn btn-success" %>
        <%= link_to 'Back to Moments List', moments_path, class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>
