<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<div class="container">

  <% @user %>
    <%= @user.photo %>
    <%= @user.username %>
    <%= @user.description %>
    <%= @user.rating %>

<% end %>

</div>
