<div class="banner" style="background-image: linear-gradient(-225deg, rgba(20,20,20,0.6) 0%, rgba(20,20,20,0.6) 50%), url('https://images.unsplash.com/photo-1478812954026-9c750f0e89fc?ixlib=rb-0.3.5&s=b4b6aeb97a8397ae5bbd039c3a731b5d&auto=format&fit=crop&w=2100&q=80');">
  <div class="banner-content">
    <div id="main-title">Book a friend<span id="space"> </span><span class="js-text js-text5">to do anything</span></div>
    <div class="forms-search" id="form-form">
      <div>
        <%= form_tag moments_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            id:"form-start",
            placeholder: "Search for your next friend"
          %>
      </div>
      <div>
        <%= button_tag "Search" , class: "btn-search"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
