.card {
  position: relative;
  margin: 10px;
  border-radius: 5px;
}

.card-content {
  padding: 10px;
}

.card-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-category {
  color: #fff;
  font-size: 24px;
}
