.card {
  position: relative;
  margin: 10px;
  border-radius: 5px;
  height: 200px;
}

.card-content {
  padding: 3px;
}

.card-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-category {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.card .btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.card-description {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: white;
  font-size: 0.8em;
}

.card span {
  font-size: 0.7em;
}

.card-avatar {
  position: absolute;
  right: 10px;
  top: 10px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover {
  transform: scale(1.07);
 }
