.form-container {
  margin-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: center;
  background: white;
  padding: 25px 25px;
  border: 1px solid rgba(30, 30, 30, 0.3)
}

.form-content {
  width: 100%;
}

.form-layout-container {
  display: flex;
  justify-content: center;
}

