.user-bio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

.show-user-data {
  padding: 20px 40px;
  max-width: 600px;
  background-color: #fff;
}

.show-user-data ul {
    list-style: none;
  }

#show-username {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
