body {
  background-color: #fff;
}

.data-file {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0.7;
  padding: 20px 0;
}

.user-profile {
  width: 800px;
}

#user-data {
  display: flex;
  justify-content: flex-start;
  font-weight: 200;
  margin-top: 24px;
}

#edit-bio {
  padding-left: 32px;
}

#edit-bio a {
  text-decoration: none;
  color: #000;
  opacity: 0.3;
}

#edit-bio a:hover {
  opacity: 1;
  font-weight: 400;
  color: #1F70D3;
}

ul {
    list-style: none;
}

#show-username {
  font-size: 24px;
  font-weight: bold;
}

#user-description {
  margin-top: 64px;
  max-width: 560px;
}

.my-moments-card {
  margin-right: 20px;
  margin-top: 10px;
  padding: 0;
  height: 200px;
  width: 240px;
  display: flex;
  flex-direction: column;
}

.moment-content {
  height: 160px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

#moment-activity {
  font-weight: 700;
  font-size: 18px;
}

#moment-location {
  color: #fff!important;
  font-size: 18px!important;
  opacity: 1!important;
}
