<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-content">
      <div class="card-category">
        Activity Category
      </div>
      <div class="card-description">
        <p><%= moment.description %></p>
        <p><%= moment.location %></p>
        <p><%= moment.level %></p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
</div>

