<div class="index-wrapper">
  <div class="container">
    <h1>Discover all moments</h1>
    <div class="card-container">
      <div class="row">
        <% @moments.each do |moment| %>
          <%= render 'card', moment: moment %>
        <% end %>
      </div>
    </div>
  </div>
</div>

