<div class="index-wrapper">
  <div class="container">
    <% if @moments.count == 0 %>
      <h3>no results</h3>
    <% else %>
    <h1>Discover all moments (<%= @moments.count %>)</h1>
      <div class="card-container">
        <div class="row">
          <% @moments.each do |moment| %>
            <%= render 'card', moment: moment %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="map-contain">
      <h4>Moments locations</h4>
      <div id="map" style="width: 100vw; height: 520px;" data-markers="<%= @markers.to_json %>"></div>
    </div>
  <% end %>
</div>


