<div class="container">
  <div class="row">
    <% @moments.each do |moment| %>
      <%= render 'card', moment: moment %>
    <% end %>
  </div>
  <%= link_to 'Add a Moment', new_moment_path, class: 'btn btn-primary' %>
</div>

